# Traitement

Ce fichier est le traitement des données qui ont auparavant été nettoyées et mises en forme pour rendre l'étude de celles-ci plus optimales et agréables.

In [4]:
import pandas as pd
import numpy as np
import re
import nltk
import keras
#nltk.download('punkt')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#nltk.download('stopwords')
#nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
from sklearn.metrics import accuracy_score
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, LSTM
from keras.layers.embeddings import Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

import tensorflow as tf


from keras.models import Sequential
from keras.layers import Input, CuDNNLSTM, Dense
from keras.layers.embeddings import Embedding
from keras.models import Sequential
from keras.layers import Input, CuDNNLSTM, Dense
from keras.layers.embeddings import Embedding
import keras.backend as K

from keras.callbacks import EarlyStopping

from keras.models import Sequential
from keras.layers import Input, CuDNNLSTM, Dense, Bidirectional
from keras.layers.embeddings import Embedding
import keras.backend as K
from sklearn.preprocessing import MinMaxScaler

from tensorflow import keras
from tensorflow.keras import layers

## Initialisation

Lors du prétraitement (cf "Pretraitement.ipynb"), nous avons créé un csv avec les données modifiées. Non pas dans leur valeur/contenu mais dans leur forme pour travailler plus optimalement.

In [5]:
df = pd.read_csv("opinion_fact_news_pretraiter.csv")
df = df.drop(columns=["Unnamed: 0"])

In [6]:
df.head()

,title,body,label
0,bernie sander really happening,watching sander surge front pack race take pre...,opinion
1,london terror attack would much worse assailan...,two people stabbed sunday attack south london ...,opinion
2,super bowl pose question obscene sex sexism,one debate overshadowed rest whether shakira l...,opinion
3,health care trump malicious incompetent yes,democrat debate best path universal health cov...,opinion
4,ever happened head pike story trump republican,adam schiff made reference reporting said conf...,opinion

In [7]:
df.describe()

,title,body,label
count,10000,10000,10000
unique,8005,9856,2
top,factbox latest coronavirus spreading china beyond,need know understand moment mean us-iran relat...,opinion
freq,16,3,5000

In [33]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   10000 non-null  object
 1   body    10000 non-null  object
 2   label   10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [6]:
df['label'].value_counts()

opinion    5000
fact       5000
Name: label, dtype: int64

Ces petites cellules nous permemettent de s'assurer que le prétraitement n'a pas modifié la forme du dataset : nous avons toujours 10 000 lignes, moitié facts et moitié opinions et les mêmes colonnes.

## Début du traitement

### Changement des valeurs dans 'label'

On décide de changer les valeurs dans la colonne 'label', contenant soit 'opinion' soit 'fact'.
On remplace le premier par 0 et le second par 1, cela nous permettra de classifier nos données.

In [7]:
df.loc[df.label == "opinion","label"] = 0
df.loc[df.label == "fact","label"] = 1
df.head(2)

,title,body,label
0,bernie sander really happening,watching sander surge front pack race take pre...,0
1,london terror attack would much worse assailan...,two people stabbed sunday attack south london ...,0

In [8]:
df.tail(2)

,title,body,label
9998,novartis predicts growth cosentyx zolgensma ad...,file photo company logo seen new cell gene the...,1
9999,russian order watchdog draw plan prevent virus...,file photo russian prime minister mikhail mish...,1

### Séparation des données en 3 sets (train, test, dev)

On va split nos données comme en TP, donc 80% pour le train, 10% pour le test et 10% également pour le dev.
Pour cela, on sépare les données qui vont nous servir à prédire ('titre' et 'body') de celles que l'on veut prédire ('label').
Y prendra donc les données à prédire et X celles nous permettant de le faire.

In [9]:
features = df.columns[:2]
X = df[features]
Y = df['label']
Y = Y.astype('int')

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify= Y)

In [11]:
print("Taille de notre set de train :")
print("X :",len(X_train),"// Y :",len(Y_train))
print("\nTaille de notre set de test :")
print("X :",len(X_test),"// Y :",len(Y_test))

Taille de notre set de train :
X : 8000 // Y : 8000

Taille de notre set de test :
X : 2000 // Y : 2000

In [12]:
X_temp = X_test
Y_temp = Y_test
X_test, X_dev, Y_test, Y_dev = train_test_split(X_temp, Y_temp, test_size=0.5)

In [13]:
print("Taille de notre set de test :")
print("X :",len(X_test),"// Y :",len(Y_test))
print("\nTaille de notre set de dev :")
print("X :",len(X_dev),"// Y :",len(Y_dev))

Taille de notre set de test :
X : 1000 // Y : 1000

Taille de notre set de dev :
X : 1000 // Y : 1000

### Mise en vecteurs des données

La prochaine chose que nous devons faire après le prétraitement des données est de convertir les données en un langage compréhensible par la machine, c'est-à-dire des nombres. Pour cela, nous devons mapper chaque mot des données à une valeur numérique. Nous pouvons le faire de plusieurs manières.

#### Bag of Words (BOW ) embedding

In [14]:
import scipy.sparse as sp
vect = CountVectorizer(ngram_range=(1, 2),analyzer='word', max_features=1000, stop_words='english')
X_train_bow = sp.hstack(X_train.apply(lambda col: vect.fit_transform(col)))
X_train_bow = X_train_bow.toarray()
print("Données de train en vecteur :",X_train_bow.shape)

Données de train en vecteur : (8000, 2000)

In [15]:
X_test_bow = sp.hstack(X_test.apply(lambda col: vect.transform(col)))
X_test_bow = X_test_bow.toarray()
print("Données de test en vecteur :",X_test_bow.shape)

Données de test en vecteur : (1000, 2000)

In [16]:
X_dev_bow = sp.hstack(X_dev.apply(lambda col: vect.transform(col)))
X_dev_bow = X_dev_bow.toarray()
print("Données de dev en vecteur :",X_dev_bow.shape)

Données de dev en vecteur : (1000, 2000)

##### Prédiction via SVM - Support Vector Classification

In [17]:
clf = svm.SVC()
clf.fit(X_train_bow, Y_train)

SVC()

In [18]:
Y_predict_bow = clf.predict(X_test_bow)

In [19]:
accuracy_score(Y_test,Y_predict_bow)

0.506

#### Term Frequency-Inverse Document Frequency (TF-IDF) Embedding

In [20]:
vect = TfidfVectorizer(max_features=1000)

In [21]:
X_train_tfidf = sp.hstack(X_train.apply(lambda col: vect.fit_transform(col)))
print("Données de train en vecteur :",X_train_tfidf.shape)

Données de train en vecteur : (8000, 2000)

In [22]:
X_test_tfidf = sp.hstack(X_test.apply(lambda col: vect.transform(col)))
print("Données de test en vecteur :",X_test_tfidf.shape)

Données de test en vecteur : (1000, 2000)

In [23]:
X_dev_tfidf = sp.hstack(X_dev.apply(lambda col: vect.transform(col)))
print("Données de dev en vecteur :",X_dev_tfidf.shape)

Données de dev en vecteur : (1000, 2000)

Pour chaque words embeding, nous allons utilisé les algorithmes d'apprentissage automatique suivants :
  - SVM

### SVM - Support Vector Classification

In [30]:
from sklearn.model_selection import GridSearchCV

In [ ]:
parameters = {'kernel':('linear', 'rbf'), 'C':[0.0001, 0.001, 0.01, 0.1, 1, 10]}
svc = svm.SVC()
clf = GridSearchCV(svc, parameters)
clf.fit(X_train_bow, Y_train)
GridSearchCV(estimator=SVC(),
             param_grid={'C': parameters['C'], 'kernel': parameters['kernel']})

In [ ]:
sorted(clf.cv_results_.keys())

##### Prédiction via SVM - Support Vector Classification

In [20]:
clf = svm.SVC()
clf.fit(X_train_bow, Y_train)

SVC()

In [21]:
Y_predict_bow = clf.predict(X_test_bow)

In [22]:
accuracy_score(Y_test,Y_predict_bow)

0.984

##### Prédiction SVM - TF-IDF

In [24]:
clf = svm.SVC()
clf.fit(X_train_tfidf, Y_train)

SVC()

In [25]:
Y_predict_tfidf = clf.predict(X_test_tfidf)

In [26]:
accuracy_score(Y_test,Y_predict_tfidf)

0.987

### Réseaux de neurones

Nous avons ensuite implémenté des réseaux de neurones, cf [reseaux_neurones](reseaux_neurones.ipynb), et enregistré les résultats dans un fichier texte. En effet, le code étant assez lourd et peu digeste, nous avons décidé de séparer celui-ci de son étude qui va suivre.

In [27]:
data = pd.read_csv('resultat.txt',sep=',')

In [56]:
data

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
0,Deep_Neural_Network,20,0.0,0.990,0.9915,0.9915,0.9915,41481,335,2345,1883137,4096
1,Deep_Neural_Network,20,0.2,0.990,0.9925,0.9925,0.9925,82596,350,23438,1883137,4096
2,Deep_Neural_Network,20,0.5,0.988,0.9920,0.9920,0.9920,82573,358,23438,1883137,4096
3,Deep_Neural_Network,20,0.8,0.991,0.9930,0.9930,0.9930,82594,356,25789,1883137,4096
4,LSTM,20,0.0,0.987,0.9905,0.9905,0.9905,133330,1104,23438,885505,4096
5,LSTM,20,0.2,0.992,0.9905,0.9905,0.9905,140251,1131,32825,885505,4096
6,LSTM,20,0.5,0.989,0.9910,0.9910,0.9910,141234,1117,23438,885505,4096
7,LSTM,20,0.8,0.991,0.9910,0.9910,0.9910,140077,1136,23438,885505,4096
8,GRU,20,0.0,0.977,0.9846,0.9845,0.9845,27414,258,46875,127489,4096
9,GRU,20,0.2,0.985,0.9870,0.9870,0.9870,27724,254,46875,127489,4096
10,GRU,20,0.5,0.974,0.9826,0.9825,0.9825,43391,252,46875,127489,4096
11,GRU,20,0.8,0.968,0.9829,0.9825,0.9825,28302,272,46875,127489,4096
12,BRNN,20,0.0,0.988,0.9905,0.9905,0.9905,55763,418,46875,582913,4096
13,BRNN,20,0.2,0.987,0.9905,0.9905,0.9905,56218,408,46875,582913,4096
14,BRNN,20,0.5,0.986,0.9895,0.9895,0.9895,55663,389,46875,582913,4096
15,BRNN,20,0.8,0.978,0.9841,0.9840,0.9840,55397,403,46875,582913,4096
16,RCNN,20,0.0,0.982,0.9891,0.9890,0.9890,55044,401,46875,582913,4096
17,RCNN,20,0.2,0.987,0.9895,0.9895,0.9895,86378,403,46875,582913,4096
18,RCNN,20,0.5,0.988,0.9900,0.9900,0.9900,85967,375,46875,582913,4096
19,RCNN,20,0.8,0.980,0.9845,0.9845,0.9845,85081,395,46875,582913,4096

In [40]:
reseaux = pd.unique(data["Nom"]).tolist()
reseaux

['Deep_Neural_Network', 'LSTM', 'GRU', 'BRNN', 'RCNN']

Chaque réseau a 4 implémentations, on a varié le dropout (0 -> 0.2 -> 0.5 -> 0.8), on veut donc récupérer pour chauqe réseau, sa meilleure implémentation. On va notamment regarder l'accuracy.

In [49]:
bestRes = list()
for reseau in reseaux :
    tmp = data[data["Nom"] == reseau]
    bestRes.append(tmp[tmp["Accuracy"].max() == tmp["Accuracy"]])

#### DNN

In [66]:
bestRes[0]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
3,Deep_Neural_Network,20,0.8,0.991,0.993,0.993,0.993,82594,356,25789,1883137,4096

#### LSTM

In [72]:
bestRes[1]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
6,LSTM,20,0.5,0.989,0.991,0.991,0.991,141234,1117,23438,885505,4096
7,LSTM,20,0.8,0.991,0.991,0.991,0.991,140077,1136,23438,885505,4096

On remarque que pour LSTM, nous avons deux résultats, ils ont la même accuracy, mais également le même score-F1 et rappel. On décide donc de les départager via leur précision.

In [78]:
bestRes[1] = bestRes[1][bestRes[1].Precision.max() == bestRes[1].Precision]

In [79]:
bestRes[1]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
7,LSTM,20,0.8,0.991,0.991,0.991,0.991,140077,1136,23438,885505,4096

#### GRU

In [71]:
bestRes[2]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
9,GRU,20,0.2,0.985,0.987,0.987,0.987,27724,254,46875,127489,4096

#### BRNN

In [70]:
bestRes[3]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
12,BRNN,20,0.0,0.988,0.9905,0.9905,0.9905,55763,418,46875,582913,4096
13,BRNN,20,0.2,0.987,0.9905,0.9905,0.9905,56218,408,46875,582913,4096

Même cas que LSTM.

In [80]:
bestRes[3] = bestRes[3][bestRes[3].Precision.max() == bestRes[3].Precision]

In [81]:
bestRes[3]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
12,BRNN,20,0.0,0.988,0.9905,0.9905,0.9905,55763,418,46875,582913,4096

#### RCNN

In [73]:
bestRes[4]

,Nom,Nombre d'itérations,Dropout,Precision,Rappel,Score-F1,Accuracy,Tps appr (ms),Tps test (ms),Mem test(bit),nbr param,Taille(bit)
18,RCNN,20,0.5,0.988,0.99,0.99,0.99,85967,375,46875,582913,4096